services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ai-tkh
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports: ["5433:5432"]
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: infra/docker/Dockerfile.backend
    env_file: backend/.env
    depends_on:
      db:
        condition: service_healthy
    ports: ["8000:8000"]
    volumes:
      - ./backend:/app

  # frontend:
  #   build:
  #     context: .
  #     dockerfile: infra/docker/Dockerfile.frontend
  #   env_file: frontend/.env
  #   depends_on: [backend]
  #   ports: ["8080:8080"]
  #   volumes:
  #     - ./frontend:/usr/src/app

volumes:
  db_data:
